* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// :root {
//     font-size: 62.5%;
// }




$bg-dark: #343333;
$bg-darker: #1d1c1c;
$font-light: #ffffff;
$red: red;
$green: rgb(101, 225, 101);


@mixin lego-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


body {
    background-color: $bg-dark;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    header {
        display: flex;
        justify-content: center;
        background-color: $bg-darker;
        color: $font-light;
        padding: 20px 0;
        position: fixed;
        width: 100%;
    }



    .container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;




        .box {
            border-radius: 10px;
            height: 20rem;
            margin: 20px;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            padding: 1rem;

            i {
                font-size: 2rem;
                color: $green;

            }

            p {
                background-color: #34333381;
                color: #ffffff;
                padding: 0.3rem;
                text-align: center;
            }


            &:nth-of-type(1) {
                background-image: url(/images/student-1.jpeg);
                @include lego-img;
            }

            &:nth-of-type(2) {
                background-image: url(/images/student-2.jpeg);
                @include lego-img;
            }

            &:nth-of-type(3) {
                background-image: url(/images/student-3.jpeg);
                @include lego-img;
            }

            &:nth-of-type(4) {
                background-image: url(/images/student-4.jpeg);
                @include lego-img;
            }

            &:nth-of-type(5) {
                background-image: url(/images/student-5.jpeg);
                @include lego-img;
            }

            &:nth-of-type(6) {
                background-image: url(/images/student-6.jpeg);
                @include lego-img;
            }

            &:nth-of-type(7) {
                background-image: url(/images/student-7.jpeg);
                @include lego-img;
            }

            &:nth-of-type(8) {
                background-image: url(/images/student-8.jpeg);
                @include lego-img;
            }

            &:nth-of-type(9) {
                background-image: url(/images/student-9.jpeg);
                @include lego-img;
            }

            &:nth-of-type(2) {
                background-image: url(/images/student-2.jpeg);
                @include lego-img;
            }


        }

    }

    footer {
        display: flex;
        justify-content: space-around;
        background-color: $bg-darker;
        color: $font-light;
        padding: 20px 0;
        position: fixed;
        width: 100%;
        bottom: 0;


        div {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        i {
            font-size: 1.5rem;
            color: $font-light;
            margin-bottom: 1rem;
            animation: icons;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;




            @-webkit-keyframes icons {
                0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }

                100% {
                    -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
                    color: $red;

                }
            }

            @keyframes slide-top {
                0% {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    color: $red;
                }

                100% {
                    -webkit-transform: translateY(-30px);
                    transform: translateY(-30px);
                    color: $green;
                }
            }



        }

        input {
            padding: 1.3rem;
            width: 7rem;
            background-color: $red;
            border-radius: 5px;
            color: $font-light;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: 0.2s ease-in-out;
            }

        }

    }

}